{% extends "jqueryuibase.html" %}
{% load tournamenttags %}

{% block title %}- Divisions{% endblock %}

{% block content %}
<h1>Divisions</h1>
<p>
The first two weeks will consist of division playoffs. You will be responsible for playing everyone in one best-of-3 match and
reporting the scores back here.
</p>

<div id="division-dialog-modal" title="Team Profile"></div>

<h2>Singles</h2>
<p>
At the end of the first two weeks, the top two players from each division will head on to the final 16. In addition, there
will be two wild card picks based on set and match performance.
</p>
<div id="singles">
{% for division in singles %}
	<div class="division" id="division-{{ division.name|slugify }}">
		<h3>{{ division.name }}</h3>
		{% for team in division.sorted_teams %}
		{% team_item team %} <br />
		{% endfor %}
	</div>
{% endfor %}
</div>

<h2>Doubles</h2>
<p>
Similar to the singles tournament, the playoffs will pick two teams from each division. Then two wild card picks will round out the
final 8 tournament.
</p>
<div id="doubles">
{% for division in doubles %}
	<div class="division" id="division-{{ division.name|slugify }}">
		<h3>{{ division.name }}</h3>
		{% for team in division.sorted_teams %}
		{% team_item team %} <br />
		{% endfor %}
	</div>
{% endfor %}
</div>

{% endblock %}
