{% extends "jqueryuibase.html" %}

{% block title %} - Players{% endblock %}

{% block css %}
  {{ block.super }}
  {% if MSIE %}
  <style type="text/css">
     #content {
         height: 1750px !important;
     }
   </style>
   {% endif %}
{% endblock %}

{% block content %}
<h1>Players</h1>
<p>
Meet the players here. Click on a player to view more details about them.
</p>

<div id="players">
{% for player in players %}
<h3><span class="player-title">{{ player.user.first_name }}{% if player.nickname %} &quot;{{ player.nickname }}&quot; {% endif %} {{ player.user.last_name }}<span></h3>
<div data-url="{% url view-player player.pk %}"><p id='wait' style="margin-top: 50px; margin-bottom: 50px;"><img src='/media/img/loading.gif' border=0 /><br />Loading...</p></div>
{% endfor %}
</div>
{% endblock %}
