{% load markdowntags %}<h2>{{ player }}<br /> [{{ player.total_score.total_wins }} - {{ player.total_score.total_losses }}]</h2>
<h3>Bio</h3>
<div class="bio">
{{ player.bio|default:"Not available."|markdown }}
</div>
<h2>Individual Performance</h2>
{% for team in player.get_teams %}
	{% if team.player2 %}<h2>Doubles Performance</h2>
	<h3>{{ team }}</h3>
	{% if team.name %}<span class="team-players">Players: {{ team.players|join:", " }}</span>{% endif %}
	{% endif %}
	{% with team.matches as match_info %}
		{% with match_info.1 as future %}
		{% with match_info.0 as historical %}
		{% if future %}
			<h3>Upcoming Matches</h3>
			<ul>
			{% for match in future %}
				<li>vs. {{ match.other_team }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		{% if historical %}
			<h3>Record</h3>
			<ul>
			{% for match in historical %}
			<li>vs. {{ match.other_team }} <span class="result">[{% if match.win %}W{% else %}L{% endif %}]</span></li>
			{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}{% endwith %}
	{% endwith %}
{% endfor %}
