{% extends "base_html.html" %}
{% load nav %}
{% block css %}
    {{ block.super }}
    <link href="{{ MEDIA_URL }}css/main.css?1.11" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
  <div id="main">
    <div id="header">
     <h1 id="logo">CrunchTime! Table Tennis Tournament</h1>
    </div>
    <div id="container">
    <div id="content" class="rounded-bubble">
      {% block nav %}
      {% nav_header %}
      {% endblock %}
	{% block content %}
	{% endblock %}
      <div id="footer">
      Logo is copyright CrunchTime! Information Systems. <br />
      Site is copyright CrunchTime! Information Systems &copy; 2010. All rights reserved.
      </div>
    </div>
  </div>
{% endblock %}
