<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>CrunchTime! Table Tennis Tournament{% block title %}{% endblock %}</title>

    {% block css %}
    <link href='http://fonts.googleapis.com/css?family=Cantarell&subset=latin' rel='stylesheet' type="text/css" />
    <link href="{{ MEDIA_URL }}css/main.css" type="text/css" rel="stylesheet" />
    {% endblock %}

    {% block preload_js %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body>
    <div id="header">
    </div>

    <div class="content">
	{% block content %}
	{% endblock %}
    </div>

    <div id="footer">
    </div>
    {% block js %}
    {% endblock %}
  </body>
</html>
