{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}
<div id="navbar">
<a href="/people">people</a> |
<a href="/rules">rules</a> |
<a href="/brackets">brackets</a> |
<a href="/prizes">prizes</a>
</div>
<p>
<h1>Welcome.</h1>
<p>
You think you can play ping pong? You have been playing with your coworkers for months, and you probably think highly of your game.  Now is your chance to show what you've got.
</p>
<p>
Beginning November 1<sup>st</sup>, we will have a low key tournament for both doubles and singles. This site will rock info
on the players, the brackets, and the results, so stay tuned...
</p>
<br />
<br />
{% endblock %}
