{% extends 'base.html' %}
{% block title %}- Rules{% endblock %}

{% block content %}
<h1>Rules</h1>
<p>
In singles, the centre lines serve no purpose, so ignore them.
</p>
<h2>Scoring</h2>
<p>
All league matches are a best 3 sets. The finals and maybe the semi finals are best of 5 sets. For each set, the first player to reach 21 points wins that set, however a set must be won by at least a two point margin. <br />
The edges of the table are part of the legal table surface, but not the sides.
</p>
<h2>Flow of the Match</h2>
<p>
Each player serves five points in a row and then switch servers. However, if a score of 20-20 is reached in any set, then the first server serves only one point and then the server is switched, after which its 2 serves per player.  After each set, the players switch sides of the table. In the final set (ie 3rd set), the players switch sides again after either player reaches 10 points. 
</p>

<h2>Legal Service</h2>
<p>
The ball must rest on an open hand palm. Then it must be tossed up at least 6 inches and struck so the ball first bounces on the server's side and then the opponent's side. 
If the serve is legal except that it touches the net, it is called a let serve. Let serves are not scored and are reserved. <br />
</p>

<h2>Equipment</h2>
<p>
The paddle should have a red and a black side. The ball should be either orange or white and 40 mm in size. The table should be 2.74 meters long, 1.525 m wide, and 0.76 m high. 
</p>

<h2>Official ITTF Rules</h2>
<hr />

<h2>The Table</h2>
<p><br />
The upper surface of the table, known as the playing surface, shall be rectangular, 2.74m long and 1.525m wide, and shall lie in a horizontal plane 76cm above the floor.<br />
The playing surface shall not include the vertical sides of the tabletop.<br />
The playing surface may be of any material and shall yield a uniform bounce of about 23cm when a standard ball is dropped on to it from a height of 30cm.<br />
The playing surface shall be uniformly dark coloured and matt, but with a white side line, 2cm wide, along each 2.74m edge and a white end line, 2cm wide, along each 1.525m edge.<br />
The playing surface shall be divided into 2 equal courts by a vertical net running parallel with the end lines, and shall be continuous over the whole area of each court. <br />
For doubles, each court shall be divided into 2 equal half-courts by a white centre line, 3mm wide, running parallel with the side lines; the centre line shall be regarded as part of each right half-court.<br />
</p>

<h2>The Net Assembly</h2>
<p>
The net assembly shall consist of the net, its suspension and the supporting posts, including the clamps attaching them to the table.<br />
The net shall be suspended by a cord attached at each end to an upright post 15.25cm high, the outside limits of the post being 15.25cm outside the side line.<br />
The top of the net, along its whole length, shall be 15.25cm above the playing surface. <br />
The bottom of the net, along its whole length, shall be as close as possible to the playing surface and the ends of the net shall be as close as possible to the supporting posts.<br />
</p>

<h2>Definitions</h2>
<p>
A rally is the period during which the ball is in play.<br />
The ball is in play from the last moment at which it is stationary on the palm of the free hand before being intentionally projected in service until the rally is decided as a let or a point.<br />
A let is a rally of which the result is not scored.<br />
A point is a rally of which the result is scored.<br />
The racket hand is the hand carrying the racket.<br />
The free hand is the hand not carrying the racket.<br />
A player strikes the ball if he touches it in play with his racket, held in the hand, or with his racket hand below the wrist.<br />
A player obstructs the ball if he, or anything he wears or carries, touches it in play when it is above or travelling towards the playing surface and has not passed beyond his end line, not having touched his court since last being struck by his opponent.<br />
The server is the player due to strike the ball first in a rally.<br />
The receiver is the player due to strike the ball second in a rally.<br />
The umpire is the person appointed to control a match.<br />
The assistant umpire is the person appointed to assist the umpire with certain decisions.<br />
Anything that a player wears or carries includes anything that he was wearing or carrying, other than the ball, at the start of the rally.<br />
The ball shall be regarded as passing over or around the net assembly if it passes anywhere other than between the net and the net post or between the net and the playing surface.<br />
The end line shall be regarded as extending indefinitely in both directions.<br />
</p>

<h2>A Good Service</h2>
<p>
Service shall start with the ball resting freely on the open palm of the server's stationary free hand.<br />
The server shall then project the ball near vertically upwards, without imparting spin, so that it rises at least 16cm after leaving the palm of the free hand and then falls without touching anything before being struck.<br />
As the ball is falling the server shall strike it so that it touches first his court and then, after passing over or around the net assembly, touches directly the receiver's court; in doubles, the ball shall touch successively the right half court of server and receiver.<br />
From the start of service until it is struck, the ball shall be above the level of the playing surface and behind the server's end line, and it shall not be hidden from the receiver by any part of the body or clothing of the server or his doubles partner <br />
It is the responsibility of the player to serve so that the umpire or the assistant umpire can see that he complies with the requirements for a good service.<br />
If there is no Assistant Umpire, and the umpire is doubtful of the legality of a service he may, on the first occasion in a match, warn the server without awarding a point.<br />
If subsequently in the match a service by that player or his doubles partner is of dubious legality, for the same reason or for any other reason, the receiver shall score a point.<br />
Whenever there is a clear failure to comply with the requirements for a good service, no warning shall be given and the receiver shall score a point.<br />
Exceptionally, the umpire may relax the requirements for a good service where he is satisfied that compliance is prevented by physical disability.<br />
</p>

<h2>A Good Return</h2>
<p>
The ball, having been served or returned, shall be struck so that it passes over or around the net assembly and touches the opponent's court, either directly or after touching the net assembly.
</p>

<h2>Order of Play</h2>
<p>
In singles, the server shall first make a good service, the receiver shall then make a good return and thereafter server and receiver alternately shall each make a good return.<br />
In doubles, the server shall first make a good service, the receiver shall then make a good return, the partner of the server shall then make a good return, the partner of the receiver shall then make a good return and thereafter each player in turn in that sequence shall make a good return.
</p>

<h2>A Let</h2>
The rally shall be a let<br />
if in service the ball, in passing over or around the net assembly, touches it, provided the service is otherwise good or the ball is obstructed by the receiver or his partner;<br />
if the service is delivered when the receiving player or pair is not ready, provided that neither the receiver nor his partner attempts to strike the ball;<br />
if failure to make a good service or a good return or otherwise to comply with the Laws is due to a disturbance outside the control of the player;<br />
if play is interrupted by the umpire or assistant umpire.<br />
Play may be interrupted<br />
to correct an error in the order of serving, receiving or ends;<br />
to introduce the expedite system;<br />
to warn or penalise a player;<br /> 
because the conditions of play are disturbed in a way which could affect the outcome of the rally.<br />

<h2>A Point</h2>
<p>
Unless the rally is a let, a player shall score a point<br />
if his opponent fails to make a good service;<br />
if his opponent fails to make a good return;<br />
if, after he has made a good service or a good return, the ball touches anything other than the net assembly before being struck by his opponent;<br />
if the ball passes beyond his end line without touching his court, after being struck by his opponent;<br />
if his opponent obstructs the ball;<br />
if his opponent strikes the ball twice successively;<br />
if his opponent strikes the ball with a side of the racket blade <br />
if his opponent, or anything his opponent wears or carries, moves the playing surface;<br />
if his opponent, or anything his opponent wears or carries, touches the net assembly;<br />
if his opponent's free hand touches the playing surface;<br />
if a doubles opponent strikes the ball out of the sequence established by the first server and first receiver; <br />
as provided under the expedite system (2.15.2).</p>

<h2>A Set</h2>
A set shall be won by the player or pair first scoring 21 points unless both players or pairs score 20 points, when the set shall be won by the first player or pair subsequently gaining a lead of 2 points.

<h2>A Match</h2>
<p>A match shall consist of the best of 3 sets.</p>

<h2>THE ORDER OF SERVING, RECEIVING AND ENDS</h2>
The right to choose the initial order of serving, receiving and ends shall be decided by lot and the winner may choose to serve or to receive first or to start at a particular end.<br />
When one player or pair has chosen to serve or to receive first or to start at a particular end, the other player or pair shall have the other choice.<br />
After each 5 points have been scored the receiving player or pair shall become the serving player or pair and so on until the end of the set, unless both players or pairs score 20 points or the expedite system is in operation, when the sequences of serving and receiving shall be the same but each player shall serve for only 1 point in turn.<br />
In each set of a doubles match, the pair having the right to serve first shall choose which of them will do so and in the first set of a match the receiving pair shall decide which of them will receive first; in subsequent sets of the match, the first server having been chosen, the first receiver shall be the player who served to him in the preceding set.<br />
In doubles, at each change of service the previous receiver shall become the server and the partner of the previous server shall become the receiver.<br />
The player or pair serving first in a set shall receive first in the next set of the match and in the last possible set of a doubles match the pair due to receive next shall change their order of receiving when first one pair scores 5 points.<br />
The player or pair starting at one end in a set shall start at the other end in the next set of the match and in the last possible set of a match the players or pairs shall change ends when first one player or pair scores 5 points.<br />

<h2>Out of Order of Serving, Receiving Or Ends</h2>
<p>
If a player serves or receives out of turn, play shall be interrupted by the umpire as soon as the error is discovered and shall resume with those players serving and receiving who should be server and receiver respectively at the score that has been reached, according to the sequence established at the beginning of the match and, in doubles, to the order of serving chosen by the pair having the right to serve first in the set during which the error is discovered.<br />
If the players have not changed ends when they should have done so, play shall be interrupted by the umpire as soon as the error is discovered and shall resume with the players at the ends at which they should be at the score that has been reached, according to the sequence established at the beginning of the match.<br />
In any circumstances, all points scored before the discovery of an error shall be reckoned.<br />
</p>

<h2>The Expedite System</h2>
<p>
Except where both players or pairs have scored at least 19 points, the expedite system shall come into operation if a set is unfinished after 10 minutes' play or at any earlier time at the request of both players or pairs.<br />
If the ball is in play when the time limit is reached, play shall be interrupted by the umpire and shall resume with service by the player who served in the rally that was interrupted.<br />
If the ball is not in play when the time limit is reached, play shall resume with service by the player who received in the immediately preceding rally.<br />
Thereafter, each player shall serve for 1 point in turn until the end of the set and if the receiving player or pair makes 13 good returns the receiver shall score a point.<br />
Once introduced, the expedite system shall remain in operation until the end of the match.<br />
</p>
{% endblock %}
