{% extends 'base.html' %}
{% block title %}{% endblock %}

{% block content %}
<h1>Teams</h1>
<p>
The doubles teams are in! You don't have much time until the start, so find your partner and start practicing!
</p>
<ul>
  <li>Michael Axiak and Scott Leclaire</li>
  <li>Mark Pellegrino and Mohit Dilawari</li>
  <li>Glenn Evershed and John Carter</li>
  <li>David Daugherty and Jonathan Foley</li>
  <li>Jeena Dongol and Bill Bellissimo</li>
  <li>Brad Pielech and Eileen Murray</li>
  <li>Elena Salgannik and James Krawczynski</li>
  <li>Lawrence Zhao and Trilok Mummareddy</li>
  <li>Satyajit Heeralal and Wojtek Golly</li>
  <li>Divyang Patel and Chris Orth</li>
  <li>Andrew Monat and Eric Abbott</li>
  <li>Lav Rajbanshi and Adam Buggia</li>
  <li>Vladimir Shclover and Brandon Zyxnfryx</li>
  <li>Feng Xia and Jimmy Lam</li>
</ul>
{% endblock %}
